*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'montserrat';
    color:#fff;
}
body,html{
    height:100%;
    width:100%;
    /* perspective:800px; */
}
body{
    overflow-x: hidden;
}
#cursor{
    height: 20px;
    width:20px;
    background-color: #95C11E;
    border-radius:50%;
    position:fixed;
    z-index:99;
    transition:all linear 0.1s;
   
}
#blr{
    height: 280px;
    width:280px;
    background-color: #89b41347;
    border-radius:50%;
    position:fixed;
    filter:blur(50px);
    z-index:7;
    transition:all linear 0.1s;
}
#nav{
    height:100px;
    width:100%;
    /* background-color: brown; */
    display:flex;
    gap:40px;
    align-items: center;
    justify-content: flex-start;
    position:fixed;
    z-index:10;
}
#nav img{
    height:60px;
    width: 60px;
    border-radius: 100%;
}
#nav h4{
    /* text-transform:lowercase; */
    font-weight:500 ;
}
video{
    height:100%;
    width:100%;
    position:fixed;
    object-fit:cover;
    z-index:-1;
}
#main{
    position:relative;
    background-color: rgba(0, 0, 0, 0.48);
}
#page1{
    height:100vh;
    width:100%;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    z-index:10,
}
#page1 h1{
    font-size:110px;
    font-weight:1000;
    position:relative;
}
#page1 h1::before{
    content:"EAT, DRINK, PLAY.";
    position:absolute;
    /* color:#000; */
    top:-4px;
    left:-4px;
    -webkit-text-stroke:2px #95C11E;
    z-index:-1;
}
#page1 h2{
    font-size:38px;
    font-weight:600;
    margin-top:22px;
    margin-bottom:18px;
}
#page1 pre{
    font-size:20px;
    font-weight:300;
    width:40%;

}
#page2{
   min-height:100vh;
    width:100%;
    z-index:10;
}
#scroller::-webkit-scrollbar{
    display:none;
}
#scroller{
    white-space:nowrap;
    overflow-x:auto;
    overflow-y:hidden;  
    position:relative;
    z-index:10;
}
#scroller-in{
    display:inline-block;
    white-space:nowrap;
    /* overflow-y:hidden;
    overflow-x:auto; */
    animation-name:scroll;
    animation-duration:40s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    /* position:relative; */
}
#scroller h4{
    display:inline-block;
    font-size:100px;
    font-weight:1000;
    margin-right:10px;
    color:transparent;
    -webkit-text-stroke:1px #fff;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    /* transition:all linear0.5s;s */
    /* color:#000; */

}
#scroller h4:hover{
    color:#95C11E;
    -webkit-text-stroke:1px #95C11E;
}
@keyframes scroll{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}
#about-us{
  
    height:40vh;
   
    position:relative;
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-around;
    padding:5px 50px;
    margin-top:130px;
    
}
#about-us img{
    height:200px;
    width:150px;
    object-fit:cover;
    border-radius:15px;
    z-index:9;
}
#about-us-in{
    font-size:15px;
    text-align:center;
    width:60%;
}
#about-us-in h3{
    font-size:55px;
    font-weight:5000;
    margin-bottom:40px;
    
}
#about-us p{
    font-size:20px;
    margin-bottom:5px;
    padding:8px;
    line-height:26px;
    z-index:99;
}
#cards-cont{
    height:60vh;
    width:100%;
    /* background-color:red; */
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap:70px;
    margin-top:65px ;
}
.cards{
    height:85%;
    width:25%;
    /* background-color: blue; */
    margin:4px;
    border-radius:20px;
    background-size:cover;
    background-position:center;
    z-index:88;
    overflow:hidden;
    transition: all ease 0.7;
}
#card1{
    background-image:url(topracer1.jpg);
}
#card2{
    background-image:url(golf\ lesson2.jpg) ;
}
#card3{
    background-image:url(advGolf.jpg)
}
#overlay{
    height:100%;
    width:100%;
    background-color: #95C11E;
    padding-top:20px;
    padding:20px;
    opacity:0;transition: all ease 0.7s;
}
#overlay h4{
    font-size:30px;
    color:#000;
    font-weight:700;
    text-transform:uppercase;
    white-space: nowrap;
    margin-bottom:20px;
}
#overlay p{
    font-size:18px;
    font-weight:700;
}
#overlay:hover{
    opacity:1;
}
.cards:hover{
    transform:rotate3d(1,1,0,18deg);
}
#green-cont{
    height:30vh;
    margin-top: 40px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background:linear-gradient(to left bottom,#119f3a,#ace022);
    /* position:relative; */
}
#green-cont h4{
  width:50%;
  font-size:32px;
  /* margin-left:50px; */
  line-height:53px;
  text-align:center;
  color:black;
  z-index:59;
}
#green-cont img{
    height:100%;
    width:19%;
    object-fit: cover;
}
#page3{
    height:100vh;
    width:100%;
    background-color:#000;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
#page3>h4{
    font-size:33px;
    font-weight:700;
    width:45%;
    line-height:45px;
}
#page3 img{
    position:absolute;
    height:66px;
}
#page3 #img1{
    left:18%;
    top:30%;
}
#page3 #img2{
    right:18%;
    bottom:32%;
}